# Virtual Environment
venv/

# Environment Variables
.env
.env.example


# Python Cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log